pocket_detection/fpocket/pdb_out
pocket_detection/fpocket/alpha_fold_out
pocket_detection/P2Rank/pdb_out
pocket_detection/P2Rank/alpha_fold_out
targets/3D_alignment/3D_aligned_alpha_fold
targets/3D_alignment/3D_alignment_visualisations
targets/3D_alignment/rmsd_results.csv
pocket_detection/fpocket/comparison_results
pocket_detection/fpocket/pocket_visualisations
targets/alignment_results
targets/alpha_fold
targets/cut_alpha_fold
targets/filtered_alpha_fold
targets/filtered_cut_alpha_fold
targets/filtered_pdb
targets/pdb
targets/beta
