analysis/pocket_comparison/outputs/
analysis/pocket_comparison/outputs_fpocket/
analysis/pocket_comparison/outputs_rescored/

pocket_detection/fpocket/fpocket/
pocket_detection/fpocket/pdb_out
pocket_detection/fpocket/alpha_fold_out
pocket_detection/fpocket/comparison_results
pocket_detection/fpocket/pocket_visualisations
pocket_detection/P2Rank/pdb_out
pocket_detection/P2Rank/alpha_fold_out
pocket_detection/rescoring/fpocket_alpha_fold_rescore.ds
pocket_detection/rescoring/fpocket_alpha_fold_rescored_out/
pocket_detection/rescoring/fpocket_pdb_rescore.ds
pocket_detection/rescoring/fpocket_pdb_rescored_out/

targets/alignment_results
targets/alpha_fold
targets/cut_alpha_fold
targets/filtered_alpha_fold
targets/filtered_cut_alpha_fold
targets/filtered_pdb
targets/pdb

targets/3D_alignment_visualisations
targets/3D_aligned_alpha_fold/
targets/rmsd_results.csv
targets/sequence_compare_results.csv

beta
targets/beta
.vscode/
__pycache__/

analysis-fpocket.ipynb
analysis-rescored.ipynb